* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

header {
  .info {
    background-color: #ffc200;
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding: 10px;
    justify-content: flex-end;
    text-transform: uppercase;
    padding-right: 10em;
    a {
      color: black;
      display: inherit;
      text-decoration: none;
      gap: 10px;

      span {
        font-size: 20px;
      }
    }

    a:nth-child(1) {
      font-weight: 700;
      color: #465a98;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    .logo {
      display: flex;
      h5 {
        margin-left: 10px;
        color: #425384;
      }
      img {
        width: 60px;
        height: 70px;
      }
    }
    .search {
      // margin-top: 1em;
      width: 500px;

      display: flex;
      input {
        background-color: aliceblue;
      }
      span {
        position: relative;
        right: 32px;
        bottom: -9px;
      }
    }

    .dropdown {
      button {
        background-color: aliceblue;
      }
      .btn:active {
        background-color: aliceblue;
        color: inherit;
        border-color: inherit;
      }
    }

    .map {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #425384;
      //   width: 200px;
      //   height: 100px;
      .ut {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  .nav-section {
    background-color: #425384;
    display: grid;
    padding: 0.8em;
    color: white;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr 1fr;
    line-height: 1px;
    padding-left: 5em;
    .nav-header{
      font-weight: 500;
      font-size: 16px;
      display: flex;
    align-items: center;
    }

    nav {
      font-weight: normal;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;
      font-size: 14px;
    }

    .side-link {
      display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
      a {
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        // gap: 10px;
        // border-right: white solid 1em;
      }
    }
  }

  nav {
    // background-color: rgb(58, 58, 124);
    background-color: #425384;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 500;
    justify-content: center;
    gap: 2.5em;
    padding: 0.4em;
    color: white;
    a {
      text-decoration: none;
      color: white;
      letter-spacing: 2px;
      // gap: 10px;
      // border-right: white solid 1em;
    }
  }
}

.footer {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  // flex-wrap: wrap;
  padding: 2.5em;

  .foo-one {
    display: flex;
    flex-direction: row;
    gap: 4em;
    .part-one {
      .logo {
        display: flex;
        h5 {
          color: #425384;
          justify-self: center;
          align-self: center;
          margin-left: 5px;
        }
        img {
          width: 80px;
          height: 90px;
        }
      }
      .links {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        a:hover {
          text-decoration: none;
        }
      }
    }

    .part-two {
      .school-logo {
        img {
          width: 173px;
          height: 58px;
        }
      }
      .content {
        margin-top: 29px;
        width: 260px;
        font-size: 14px;
      }
    }
  }

  .part-three {
    display: flex;
    flex-direction: column;

    .page-links {
      display: flex;
      flex-direction: column;
      color: #425384;

      a {
        font-size: 14px;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .social-media {
      color: #425384;
      display: flex;
      flex-direction: column;
      .sign-up {
        display: inherit;
        width: 220px;
        i {
          font-size: 23px;
          margin-right: 10px;
        }
        span {
          font-size: 14px;
        }
      }
      .fb-tw {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        gap: 1em;

        .svg {
          fill: #425384;
        }
      }

      img {
        width: 24px;
        color: #425384;
      }
    }

    // width: 200px;
  }

  .part-four {
    display: flex;
    flex-direction: column;
    //  background-color: lawngreen;
  }
  .country {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 10px;
      font-size: 14px;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .part-five {
    display: flex;
    flex-direction: row;

    .logo {
      img {
        width: 60px;
        height: 70px;
      }
    }
    .log-content {
      margin-left: 10px;
      font-size: 14px;
      width: 450px;

      align-self: flex-end;
      position: relative;
      bottom: -19px;
    }
  }
}

.page-one {
  // background-color: #ffca50;
  .content-one {
    display: flex;
    flex-direction: column;
    background-image: url("./images/little_girl.jpg");
    background-size: cover;
    background-position-y: 80%;
    padding-left: 10em;
    height: 516px;
    .title {
      width: 450px;
      font-weight: 300;
      color: #425384;
      h4 {
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 2.5rem;
      }
    }

    .title-discription {
      width: 472px;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        border: #425384 solid 2px;
        width: 315px;
        padding: 10px;
        a {
          color: #425384;
        }

        span {
          color: #425384;
          place-self: center;
        }
      }
    }
  }

  .content-two {
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 5em;
    .mission {
      h6 {
        font-size: 2.5em;
        font-weight: 400;
        margin: 0;
        letter-spacing: 3px;
        color: #425384;
      }
      p {
        width: 270px;
      }
    }

    .mission-nav {
      gap: 10px;
      .nav-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .image-bg {
          width: 205px;
          height: 195px;
        }
        .boy-walk {
          background-image: url("./images/boy\ _walking.jpg");
          background-size: cover;
        }

        .boy-sad {
          background-image: url("./images/boy\ outside\ with\ serious\ expression\ on\ face.JPG");
          background-size: cover;
        }
        .family {
          background-image: url("./images/family.JPG");
          background-size: cover;
        }

        // img {
        //     background-color: #ffca50;
        //     width: 195px;
        //     height: 195px;

        //     .boy-walk{
        //         background-image: url('./images/boy\ _walking.jpg');
        //     }
        //     .boy-sad{

        //     }
        //     .family{

        //     }
        // }

        .nav-links {
          display: flex;
          flex-direction: row;
          gap: 5px;
          border: #020202cf solid 1px;
          // width: 265px;
          padding: 5px;
          a {
            color: #020202;
            width: 163px;
            font-size: 12px;
          }

          span {
            color: #425384;
            // font-size: 14px;
            place-self: center;
          }
        }
      }
    }
  }

  .content-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/chair.jpg");
    background-size: cover;
    background-position-y: 40%;
    /* background-position-x: 90%; */
    padding: 5.5em 2em 2em 7em;
    height: 280px;
    margin-bottom: 5px;

    .blockquote {
      width: 40em;
      text-align: left;
      color: #425384;
    }

    .blockquote-footer {
      text-align: right;
      color: #020202;
      padding: 10px;
      font-weight: 500;
    }

    .blockquote-footer::before {
      content: "";
    }
  }
}

.page-two {
  #page-two-divsion-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./images/youngboy.jpg");
    background-position-y: 50%;
    background-size: cover;
    height: 350px;
    padding-right: 10em;
    p {
      margin-top: 0;
      width: 504px;
      text-align: left;
      font-size: 24px;
    }
  }
}

.page-nine {
  display: flex;
  flex-direction: column;
}
.ut-service {
  gap: 85px;
}

.title-n {
  padding-left: 5em;

  img {
    width: 100px;
    height: 100px;
  }
  h4 {
    width: 410px;
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 300;
    align-self: flex-end;
    margin-bottom: 0;
  }
}

.discription-n p {
  width: 756px;
}
.form {
  background-color: lightyellow;
  gap: 10px;
  padding: 25px;
  .form-fields {
    font-weight: 600;
    color: #465a98;
    gap: 35px;
  }

  .s-iocn {
    align-items: flex-end;
    color: #465a98;
    .material-icons-round {
      font-size: 48px;
    }
    h6 {
      font-size: 0.7em;
      font-weight: 600;
    }
  }
}

.registry {
  justify-content: center;
  padding-right: 2.9em;
  .r-title {
    color: #465a98;
    .material-icons-round {
      font-size: 52px;
    }
    h5 {
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }
}

.breadcrumb {
  background-color: inherit;

  ol li {
    text-decoration: underline;
  }
}

.catagery {
  margin-top: 1em;
  h4 {
    font-weight: 400;
  }

  .list-alaphabets {
    background-color: #d5fbde;
    width: 75em;
    height: 1.9em;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 3px;
    .coloured {
      color: #465a98;
      letter-spacing: 2.2em;
    }

    .colour-less {
      color: #bababa;
      letter-spacing: 2.6em;
    }
  }

  .alaphabet {
    hr {
      border-color: #000000;
    }
    .rows {
      gap: 6em;

      .row-title {
        place-self: flex-start;
        font-size: 5em;
        font-weight: 300;
        color: #c6dce0;
      }

      .row-1 {
        a:nth-child(1) {
          font-weight: 500;
          color: #000000;
          padding: 0;
        }

        a {
          color: #465a98;
          padding-left: 5px;
        }
      }
    }
  }
}

.table-2{
  width: 56em;
  tr {
    color: #465a98;
  }
}
.table-1 {
  width: 56em;

  tr {
    color: #465a98;
  }
}

.sharable {
  font-size: 14px;

  .material-icons-round {
    font-size: 14px;
  }
}

.table-head{
  gap: 1em;

  .material-icons-round{
    place-self: center;
  }

  .drop{
    width: 125px;
  }
}

.dull {
  color: #808080;
}

.size-14 {
  font-size: 14px;
}


.yellow{
  color: #ffc200;
}

.blue{
  color: #465a98;
}
      
.page-six{
  #banner {
    display: flex;
    align-items: center;
  background-image: url("./images/boy\ getting\ his\ throat\ examined\ by\ a\ doctor_inside.JPG");
  background-position-y: 95%;
  background-size: cover;
  height: 220px;
  padding: 1em;
  p {
    font-size: 26px;
    width: 450px;
    margin-left: 2.5em;
    font-weight: 100;
  }
}

section{
  padding: 1em;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 35%;

  .list-item{
    display: flex;
  flex-direction: column;
  font-size: 24px;
  color: #465a98;
  padding:1em 8em 2em 2.5em;
  line-height: 2em;
  font-weight: 400;
  i {
    font-weight: 600;
  }
  span {
    display: flex;
    align-items: center;
  }
  .spl {
    align-items: baseline;
    i{
      bottom: -3px;
    position: relative;
    }
  }
  .division-WOA{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding-left: 3em;
    font-weight: 400;

    &.spl{
      padding-left: 5em;
  line-height: 1.5;
  font-size: 14px;
    }
  }
  .division-WA{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-left: 3em;
    color: #000;
    line-height: 1;
    i{
      color: #ff6600;
    }
  }
  }
  .learn-more-about{
    background-color: #f1efeb;
  padding: 2em;
  display: flex;
  flex-direction: column;
    header{
      align-items: center;
      display: flex;
      font-size: 20px;
      /* padding: 1em; */
      justify-content: center;
    }
    hr{
      border-color: #000;
      margin-top:0px;
    }
    a{
      padding-bottom: 1em;
      color: #0056b3;
      font-size: 18px;
      font-weight: 300px;
    }
  }
}
}

.row-1{
  width: 125em;
  margin-right: 2em;
  margin-bottom: 35px;
  // background-color: rgb(204, 204, 204);

  .title-t{
    a{
      text-decoration: underline;
    }
  }
}
.row-2{
  width: 72em;
  .images-t{
    background-image: url('./images/Medical_Home.png');
    
    
    height: 217px;
    background-size: 100%;
  }
  .images-t2{
    background-image: url('./images/boy_mom_back.jpg');
    
    
    height: 217px;
    background-size: cover;
    background-position-y: center;
  }
}

.dropdown-area{
  width: 36em;
}

.gray{
  background-color: #c4c7ca;
}
